src/main/resources/schema/jms.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="id"  maxOccurs="1" minOccurs="1"/>
        <xs:element type="xs:string" name="metaData"  maxOccurs="1" minOccurs="1"/>
        <xs:element type="xs:string" name="type"  maxOccurs="1" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>